# No Extension
*
!*/
!*.*

# Mac OS
._.DS_Store
.DS_Store

# Editors
.vscode
.idea

# Compilers
__pycache__
*.exe
main.dSYM
main
test

# Data
*.in
*.out

# Scripts
run.sh

# Project
cmake-build-debug
CMakeLists.txt
